.character-card {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 15px auto;
  cursor: pointer;
}

.character-card:hover {
  color: white;
  background-color: #343a40;
}

.character-title {
  display: flex;
  flex-grow: 1
}